<div class='container' ng-controller='detailsCtrl'>
	<h1>{{params.countryId | capitalize }}</h1>
  <br>
  <table id="table" class="countryDetails table table-mc-light-blue">
    <tr>
      <td>Population of country:</td>
      <td>{{ countryData[0].population | number: fractionSize }}</td>
    </tr>
    <tr>
      <td>Area:</td>
      <td>{{ countryData[0].areaInSqKm | number: fractionSize }}</td>
    </tr>
    <tr>
      <td>Capital:</td>
      <td>{{ countryData[0].capital }}</td>
    </tr>
    <tr>
      <td>Capital Population:</td>
      <td ng-repeat="capital in capitalData | filter: capitalFilter">
        {{ capital.population }}
      </td>
    </tr>
    <tr>
      <td ng-if="neighbor.countryName">Neighbors:</td> <!--  ng-repeat="(key, value) in NeighbourData track by $index | json" }} -->
      <td class="list-comma" ng-repeat="neighbor in NeighbourData">
        {{ neighbor.countryName }},
      </td>
    </tr>
    <tr>
      <td><img class="flag" width="250" ng-src="http://www.geonames.org/flags/x/{{currentSelectedCountry.countryCode|lowercase}}.gif"/></td>
      <td><img class="map" width="250" ng-src="http://www.geonames.org/img/country/250/{{currentSelectedCountry.countryCode}}.png"/></td>
    </tr>
  </table>

</div>

