<ul class="box">

	<div class="group">
		<div class="left">
			<img class="flag" alt="flag" width="250" ng-src="http://www.geonames.org/flags/x/{{currentSelectedCountry.countryCode|lowercase}}.gif"/>
			<h1>{{params.countryId | removeUnderscore | capitalize }}</h1>
		
			<p>Population of country: {{ countryData[0].population | number: fractionSize }}</p>
			<p>Area: {{ countryData[0].areaInSqKm | number: fractionSize }}</p>
			<p>Capital: {{ countryData[0].capital }}</p>
			<p>Capital Population:
				<span ng-repeat="capital in capitalData | filter: capitalFilter">
					{{ capital.population | number: fractionSize }}
				</span>
			</p>
			<p ng-if="neighbor.countryName">Neighbors: 
				<span class="list-comma" ng-repeat="neighbor in NeighbourData">
					{{ neighbor.countryName }},
				</span>
			</p>
			<a class="cc-btn back-btn" href="#/countries">← Go back</a>	
		</div>
		<div class="right">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><img class="map" alt="map" width="250" ng-src="http://www.geonames.org/img/country/250/{{currentSelectedCountry.countryCode}}.png"/></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>
</ul>
  <footer class="detail-footer">
    <p>Data provided by <a href="http://geonames.org/">Geonames</a>.</p>
  </footer>