<div class='container' ng-controller='listCtrl'>
    <table>
        <tr>
            <th>Name</th>
            <th>Country Code</th>
            <th>Capital</th>
            <th>Area in Square Km</th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
        <tr ng-repeat="country in countries" ng-click="displayCountry();">
            <td>{{ country.countryName }}</td>
            <td>{{ country.countryCode }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.areaInSqKm | number: fractionSize }}</td>
            <td>{{ country.population | number: fractionSize }}</td>
            <td>{{ country.continent }}</td>
        </tr>
    </table>
</div>
