<div class='container' ng-controller='detailsCtrl'>
	<h1>{{params.countryId | capitalize }}</h1>

  <table class="countryDetails">
    <tr>
      <td>Population of country</td>
      <td>{{ countryData[0].population | number: fractionSize }}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td>{{ countryData[0].areaInSqKm | number: fractionSize }}</td>
    </tr>
    <tr>
      <td>Capital</td>
      <td>{{ countryData[0].capital }}</td>
    </tr>
    <tr>
      <td>Capital Population:</td>
      <td ng-repeat="capital in capitalData | filter: capitalFilter">
        {{ capital.population }}
      </td>
    </tr>
  </table>

  <br>
  <table>
  	<tr>
  		<td>Neighbors:</td> <!--  ng-repeat="(key, value) in NeighbourData track by $index | json" }} -->
      <td class="list-comma" ng-repeat="neighbor in NeighbourData">
        {{ neighbor.countryName }},
      </td>
  	</tr>
  </table>

  <img ng-src="http://www.geonames.org/flags/x/{{currentSelectedCountry.countryCode|lowercase}}.gif"/>
  <img ng-src="http://www.geonames.org/img/country/250/{{currentSelectedCountry.countryCode}}.png"/>

</div>

