<div class="ctrls">
  
  <div class="filter">
	<span class="m m-search"></span>
	<input type="text" ng-model="searchies" ng-change="onQueryChange(searchies)" class="form-control" placeholder="Filter">
  </div>

      <div class="grid-toggle">
        <a ng-click="gridToggle = !gridToggle" ng-class="{ 'active' : gridToggle }">
          <span class="m m-squares"></span>
          <span class="m m-form"></span>
        </a>
      </div>
  
</div>
<div class='container' ng-controller='listCtrl'>

    <ul class="grid" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
        <li class="grid-head">
          <ul>
            <li style="width:40%"><a ng-click="sort_by('countryName')">Name</a></li>
            <li style="width:30%"><a ng-click="sort_by('capital')">Capital</a></li>
              <li style="width:26%"><a ng-click="sort_by('areaInSqKm')">Area</a></li>
            <li style="width:4%"><a ng-click="sort_by('population')">Pop.</a></li>
          </ul>
        </li>
        <li class="grid-body animate-repeat" ng-repeat="country in pagedItems[currentPage - 1] | orderBy: 'name' | filter:query" ng-class="{'last':$last}">          
          <ul>
            <li>
              <span class="flag-icon flag-icon-{{country.countryCode|lowercase}}"></span>
<!-- 			  <span class="grid-usericon" ng-style="{ 'background' :'#456183' }">{{ country.countryCode }}</span> -->
              <span class="grid-title">&nbsp;<a ng-click="displayCountry();">{{ country.countryName }}</a></span>
            </li>
            
            <li>
              <span class="grid-user">
                
                <span class="grid-username">{{ country.capital }}</span>
              </span>
            </li>
            
            <li>
              <span class="grid-options hide">{{country.areaInSqKm | number: fractionSize }}</span>
            </li>
            
            <li>
              <span class="grid-options hide">{{ country.population | number: fractionSize }}</span>
            </li>
          </ul>
          
        </li>
        
        <li class="clear-fix"></li>
   
        <li class="pagination">
          <pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></pager>
          <p ng-if="itemsPerPage * currentPage < totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ itemsPerPage * currentPage }} of {{ totalItems }} total items <a ng-click="showAll()">show all</a>
          </p>
          <p ng-if="itemsPerPage * currentPage >= totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ totalItems }} of {{ totalItems }} total items
          </p>
        </li>
      </ul>


</div>

  <footer>
    <p>Data provided by <a href="http://geonames.org/">Geonames</a>.</p>
  </footer>
